<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!-- 不扫描带有@Controller注解的类。因为这些类已经随容器启动时，在servlet-context中扫描过一遍了 -->
    <context:component-scan base-package="com.test,com.spring" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/>
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- controller层的属性和配置文件读入 ,多个用逗号隔开-->
    <context:property-placeholder location="classpath*:/properties/test.properties" ignore-unresolvable="true"/>

    <!-- JCaptcha 图片验证码 -->
    <!-- <import resource="portal-context-common.xml"/> -->
    <!-- redies配置 -->
    <!-- <import resource="redis-cache.xml"/> -->
    <!-- 门户层配置需要使用的数据源关键字 -->
    <!-- <import resource="portal-configed-datasource.xml"/> -->

    <import resource="classpath:datasource/datasource-context-comm.xml"/>

    <bean id="testBean" class="com.ibatisPlugin.TestInitBean">
            <property name="prop1" value="prop1"/>
            <property name="prop2" value="prop2"/>
    </bean>
</beans>